# Shared environment
NODE_ENV=development
LOG_LEVEL=debug

# Dockerized PostgreSQL resource layer
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=library_admin
POSTGRES_PASSWORD=library_password
POSTGRES_SUPER_DB=postgres

# API Gateway
API_GATEWAY_PORT=3000
API_GATEWAY_SERVICE_NAME=api-gateway
JWT_SECRET=change-me-in-local-env
JWT_EXPIRES_IN=1h
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Auth Service
AUTH_SERVICE_PORT=3001
AUTH_SERVICE_NAME=auth-service
AUTH_DATABASE_URL=postgresql://library_admin:library_password@localhost:5432/auth_db?schema=public
AUTH_SERVICE_BASE_URL=http://localhost:3001
AUTH_STORAGE_DRIVER=prisma

# Member Service
MEMBER_SERVICE_PORT=3002
MEMBER_SERVICE_NAME=member-service
MEMBER_DATABASE_URL=postgresql://library_admin:library_password@localhost:5432/member_db?schema=public
MEMBER_SERVICE_BASE_URL=http://localhost:3002
MEMBER_STORAGE_DRIVER=prisma

# Book Service
BOOK_SERVICE_PORT=3003
BOOK_SERVICE_NAME=book-service
BOOK_DATABASE_URL=postgresql://library_admin:library_password@localhost:5432/book_db?schema=public
BOOK_SERVICE_BASE_URL=http://localhost:3003

# Category Service
CATEGORY_SERVICE_PORT=3004
CATEGORY_SERVICE_NAME=category-service
CATEGORY_DATABASE_URL=postgresql://library_admin:library_password@localhost:5432/category_db?schema=public
CATEGORY_SERVICE_BASE_URL=http://localhost:3004
CATEGORY_STORAGE_DRIVER=prisma

# Borrow Service
BORROW_SERVICE_PORT=3005
BORROW_SERVICE_NAME=borrow-service
BORROW_DATABASE_URL=postgresql://library_admin:library_password@localhost:5432/borrow_db?schema=public
BORROW_SERVICE_BASE_URL=http://localhost:3005

# Fine Payment Service
FINE_PAYMENT_SERVICE_PORT=3006
FINE_PAYMENT_SERVICE_NAME=fine-payment-service
FINE_DATABASE_URL=postgresql://library_admin:library_password@localhost:5432/fine_db?schema=public
FINE_PAYMENT_SERVICE_BASE_URL=http://localhost:3006
